<!DOCTYPE html>
<html>

<head>
<style>
h1 {
    color: blue;
    font-family: helvetica;
    font-size: 300%;
}
p  {
    color: red;
    font-family: helvetica;
    font-size: 160%;
}
</style>
</head>

<body>
</body>
</html>